.defaultHero {
  min-height: 100vh;
  background: url("../../images/defaultHero.jpeg") no-repeat;
  background-position: 50% 33%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}